* {
    font-family: 'PT Sans', serif;
}

html {
    background:#FCFCFC;
}


h1 {
    font-size: 42px;
    text-align: center;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 20px;
    text-align: center;
}

span {
    font-size: 36;
}



input[type=text] { 
    border:2px solid #ccc; 
    border-radius: 5px;
    width: 180px;
    height: 50px;
    font-size: 36px;
    padding: 10px;
}

.wrapper {
    background: #E7E8E7;
    border: 1px solid black;
    border-radius: 25px 25px 0px 0px;
    width: 800px;
    height: 100%;
    margin: 0 auto;
}

.upper {
    text-align: center;
}

.lower{
    margin-top: 50px;
    text-align: center;
}

#final_grade{
    font-size: 100px;
}
